In [1]:
import pandas as pd

df = pd.read_csv("total.csv")

df.head()
df.dtypes

CustomerID          float64
Date                 object
MeterCategory        object
MeterSubCategory     object
MeterName            object
ChargeType           object
EffectivePrice      float64
MaskedSub            object
Quantity            float64
TotalCost           float64
dtype: object

In [3]:
# Date 정리
df["Date"] = df["Date"].astype(str).str.strip()

mask_8digit = df["Date"].str.match(r"^\d{8}$")
parsed = pd.Series(pd.NaT, index=df.index, dtype="datetime64[ns]")

parsed[mask_8digit] = pd.to_datetime(
    df.loc[mask_8digit, "Date"],
    format="%Y%m%d",
    errors="coerce"
)

parsed[~mask_8digit] = pd.to_datetime(
    df.loc[~mask_8digit, "Date"],
    errors="coerce"
)

df["Date"] = parsed

In [4]:
# 3) 결과 확인
print("✅ Date 변환 완료")
print(" - dtype:", df["Date"].dtype)
print(" - NaT 개수:", df["Date"].isna().sum())
print(" - 날짜 범위:", df["Date"].min(), "~", df["Date"].max())
print(" - 서로 다른 날짜 수:", df["Date"].nunique())

✅ Date 변환 완료
 - dtype: datetime64[ns]
 - NaT 개수: 0
 - 날짜 범위: 2024-04-01 00:00:00 ~ 2025-10-31 00:00:00
 - 서로 다른 날짜 수: 579

In [5]:
# 인덱스 없이 저장 (깔끔한 CSV)
df.to_csv("total_clean.csv", index=False, encoding="utf-8-sig")

print("✅ total_clean.csv 저장 완료")

✅ total_clean.csv 저장 완료