In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\dev\ds-playground\.venv\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\dev\ds-playground\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\ds-playground\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\dev\ds-playground\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.3 MB 640.0 kB/s eta 0:00:18
    --------------------------------------- 0.3/11.3 MB 2.8 MB/s eta 0:00:04
   -- ------------------------------------- 0.7/11.3 MB 5.7 MB/s eta 0:00:02
   ---- ----------------------------------- 1.3/11.3 MB 7.6 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/11.3 MB 10.5 MB/s eta 0:00:01
   ----------- ---------------------------- 3.4/11.3 MB 13.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.3/11.3 MB 14.4 MB/s eta 0:00:01
   -------------------- ------------------- 5.8/11.3 MB 17.7 MB/s eta 0:00:01
   -------------------------- ------------- 7.4/11.3 MB 19.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.3 MB 22.0 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.3 MB 28.5 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.3 MB 28.5 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.3 MB 24.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 22.6 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.3.3 pytz-2025.2

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [121]:
import pandas as pd

df = pd.read_csv("111.csv")
print("row num:", len(df))
print (df.columns)
df.info()
df.head(10)

row num: 97162
Index(['Date', 'MeterCategory', 'MeterSubCategory', 'MeterName', 'ChargeType',
       'EffectivePrice', 'MaskedSub', 'Quantity', 'TotalCost', 'CustomerID'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97162 entries, 0 to 97161
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              97162 non-null  object
 1   MeterCategory     97162 non-null  object
 2   MeterSubCategory  85173 non-null  object
 3   MeterName         97162 non-null  object
 4   ChargeType        97162 non-null  object
 5   EffectivePrice    97162 non-null  float64
 6   MaskedSub         97162 non-null  object
 7   Quantity          97162 non-null  float64
 8   TotalCost         97162 non-null  float64
 9   CustomerID        97162 non-null  int64
dtypes: float64(3), int64(1), object(6)
memory usage: 7.4+ MB

,Date,MeterCategory,MeterSubCategory,MeterName,ChargeType,EffectivePrice,MaskedSub,Quantity,TotalCost,CustomerID
0,2025-05-25,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,33.911668,2054.877543,200
1,2025-05-06,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,37.646390,2281.182994,200
2,2025-05-23,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,36.168536,2191.632426,200
3,2025-05-20,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,36.168536,2191.632426,200
4,2025-05-19,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,36.168536,2191.632426,200
5,2025-05-17,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,36.358532,2203.145266,200
6,2025-05-16,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,36.892452,2235.498136,200
7,2025-05-03,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,38.019449,2303.788485,200
8,2025-05-29,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,35.414630,2145.949477,200
9,2025-05-04,SQL Managed Instance,SQL Managed Instance - LTR Backup Storage,LTR Backup RA-GRS Data Stored,Usage,60.595,sub_98f37001440b9a81,37.107018,2248.499731,200

In [118]:
# 1. 문자열로 강제 변환
df["Date"] = df["Date"].astype(str)

# 2. YYYYMMDD 형식 명시해서 변환 (핵심)
df["Date"] = pd.to_datetime(df["Date"], format="%Y%m%d", errors="coerce")

# 3. 원하는 포맷으로 통일
df["Date"] = df["Date"].dt.strftime("%Y-%m-%d")
df["Date"] = pd.to_datetime(df["Date"])

print(df["Date"].dtype)
print(df["Date"].isna().sum())
print(df["Date"].min(), "~", df["Date"].max())

print(df["Date"])

datetime64[ns]
0
2025-05-01 00:00:00 ~ 2025-10-31 00:00:00
0       2025-05-25
1       2025-05-06
2       2025-05-23
3       2025-05-20
4       2025-05-19
           ...
97157   2025-10-21
97158   2025-10-11
97159   2025-10-02
97160   2025-10-03
97161   2025-10-14
Name: Date, Length: 97162, dtype: datetime64[ns]

In [119]:
print(df["Date"])

0       2025-05-25
1       2025-05-06
2       2025-05-23
3       2025-05-20
4       2025-05-19
           ...
97157   2025-10-21
97158   2025-10-11
97159   2025-10-02
97160   2025-10-03
97161   2025-10-14
Name: Date, Length: 97162, dtype: datetime64[ns]

In [59]:
df = pd.read_csv("900.csv")
print(len(df))
print(df.info())

216303
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216303 entries, 0 to 216302
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              216303 non-null  object
 1   MeterCategory     216303 non-null  object
 2   MeterSubCategory  173286 non-null  object
 3   MeterName         216303 non-null  object
 4   ChargeType        216303 non-null  object
 5   EffectivePrice    216303 non-null  float64
 6   MaskedSub         216303 non-null  object
 7   Quantity          216303 non-null  float64
 8   TotalCost         216303 non-null  float64
 9   CustomerID        216303 non-null  int64
 10  Date_raw          216303 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 18.2+ MB
None

In [23]:
# 혹시 남아있다면 체크
header_rows = df2[df2["Date"] == "Date"]
print(header_rows)

Empty DataFrame
Columns: [Date, MeterCategory, MeterSubCategory, MeterName, ChargeType, EffectivePrice, MaskedSub, Quantity, sum_Cost, customerId]
Index: []

In [24]:
# 혹시 df2 안에 헤더가 데이터로 들어가 있으면 제거
df2 = df2[df2["Date"] != "Date"]

# 합치기
df_all = pd.concat([df, df2], ignore_index=True)

print("합쳐진 전체 rows:", len(df_all))

합쳐진 전체 rows: 630084

In [25]:
print(df_all.head())
print(df_all.tail())

# 혹시 남아 있는 헤더 행 확인
print(df_all[df_all["Date"] == "Date"])

       Date MeterCategory MeterSubCategory   MeterName ChargeType  \
0  20250720    Unassigned       Unassigned  Unassigned      Usage
1  20250712    Unassigned       Unassigned  Unassigned      Usage
2  20250721    Unassigned       Unassigned  Unassigned      Usage
3  20250701    Unassigned       Unassigned  Unassigned      Usage
4  20250728    Unassigned       Unassigned  Unassigned      Usage

   EffectivePrice             MaskedSub  Quantity  sum_Cost  customerId
0             0.0  sub_ac71a4983a462ef2      24.0       0.0         600
1             0.0  sub_ac71a4983a462ef2      24.0       0.0         600
2             0.0  sub_ac71a4983a462ef2      24.0       0.0         600
3             0.0  sub_8a94317ddda1934c      24.0       0.0         600
4             0.0  sub_8a94317ddda1934c      24.0       0.0         600
            Date     MeterCategory           MeterSubCategory  \
630079  20250528  Azure Databricks  Azure Databricks Regional
630080  20250526  Azure Databricks  Azure Databricks Regional
630081  20250516  Azure Databricks  Azure Databricks Regional
630082  20250523  Azure Databricks  Azure Databricks Regional
630083  20250529  Azure Databricks  Azure Databricks Regional

                                                MeterName ChargeType  \
630079  Premium Interactive Serverless Compute - Promo...      Usage
630080  Premium Interactive Serverless Compute - Promo...      Usage
630081  Premium Interactive Serverless Compute - Promo...      Usage
630082  Premium Interactive Serverless Compute - Promo...      Usage
630083  Premium Interactive Serverless Compute - Promo...      Usage

        EffectivePrice             MaskedSub   Quantity      sum_Cost  \
630079          1081.1  sub_1434d22ac61de8b7  14.075874  15217.427862
630080          1081.1  sub_1434d22ac61de8b7   2.992655   3235.359771
630081          1081.1  sub_1434d22ac61de8b7   0.752905    813.965370
630082          1081.1  sub_1434d22ac61de8b7   1.359847   1470.130457
630083          1081.1  sub_1434d22ac61de8b7   0.764291    826.274820

        customerId
630079         600
630080         600
630081         600
630082         600
630083         600
Empty DataFrame
Columns: [Date, MeterCategory, MeterSubCategory, MeterName, ChargeType, EffectivePrice, MaskedSub, Quantity, sum_Cost, customerId]
Index: []

In [26]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630084 entries, 0 to 630083
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              630084 non-null  int64
 1   MeterCategory     630084 non-null  object
 2   MeterSubCategory  535706 non-null  object
 3   MeterName         630084 non-null  object
 4   ChargeType        630084 non-null  object
 5   EffectivePrice    630084 non-null  float64
 6   MaskedSub         630084 non-null  object
 7   Quantity          630084 non-null  float64
 8   sum_Cost          630084 non-null  float64
 9   customerId        630084 non-null  int64
dtypes: float64(3), int64(2), object(5)
memory usage: 48.1+ MB

In [9]:
df_all["CustomerID"] = 100
print(df_all["CustomerID"].value_counts())
df_all.head()

In [11]:
cols = ["CustomerID"] + [col for col in df_all.columns if col != "CustomerID"]
df_all = df_all[cols]

In [12]:
print(df_all["CustomerID"].value_counts())
df_all.head()

CustomerID
100    3448639
Name: count, dtype: int64

,CustomerID,Date,MeterCategory,MeterSubCategory,MeterName,ChargeType,EffectivePrice,MaskedSub,Quantity,TotalCost
0,100,2025-08-20 00:00:00.0000000,Virtual Machines,Virtual Machines Dsv5 Series Windows,D8s v5,Usage,0.5502,sub_b4335e21336abd3c,167.950019,128517.078484
1,100,2025-08-21 00:00:00.0000000,Virtual Machines,Virtual Machines Dsv5 Series Windows,D8s v5,Usage,0.5502,sub_b4335e21336abd3c,167.916705,128491.586269
2,100,2025-08-10 00:00:00.0000000,Virtual Machines,Virtual Machines Dsv5 Series Windows,D8s v5,Usage,0.5502,sub_6fd39a85918529b5,48.000000,36730.092702
3,100,2025-08-29 00:00:00.0000000,Virtual Machines,Virtual Machines Dsv5 Series Windows,D8s v5,Usage,0.5502,sub_27bb411166ad1bd2,40.166749,30736.008632
4,100,2025-08-09 00:00:00.0000000,Virtual Machines,Virtual Machines Dsv5 Series Windows,D8s v5,Usage,0.5502,sub_6fd39a85918529b5,48.000000,36730.092702

In [46]:
df = df.rename(columns={
    "customerId":"CustomerID",
    "sum_Cost" : "TotalCost"
})

In [120]:
df.to_csv("111.csv", index=False)

In [53]:
import pandas as pd
import numpy as np

# ==============================
# 1. 설정
# ==============================

# 검사할 파일 경로
file_path = "900.csv"   # ← 여기만 바꿔서 사용

# 필수 컬럼 목록 (현재 데이터 구조 기준)
REQUIRED_COLS = [
    "Date",
    "CustomerID",      # 없으면 나중에 추가해도 됨
    "MaskedSub",
    "MeterCategory",
    "MeterSubCategory",
    "MeterName",
    "ChargeType",
    "EffectivePrice",
    "Quantity",
    "TotalCost",
]

# ==============================
# 2. 로딩 및 기본 정보
# ==============================

print(f"===== 파일 로딩: {file_path} =====")
df = pd.read_csv(file_path)
print("행(row) 수:", len(df))
print("컬럼 목록:", list(df.columns))
print()

# ==============================
# 3. 필수 컬럼 체크
# ==============================

missing_cols = [c for c in REQUIRED_COLS if c not in df.columns]
if missing_cols:
    print("⚠ 필수 컬럼 누락:", missing_cols)
else:
    print("✅ 필수 컬럼 모두 존재")
print()

# ==============================
# 4. Date 컬럼 확인 및 변환
# ==============================

if "Date" in df.columns:
    # 문자열/정수 → datetime 변환 시도
    df["Date_raw"] = df["Date"]  # 원본 백업

    
    # 1. 원본 텍스트 확보
    raw = df["Date"].astype(str)
    
    # 2. 뒤 8자리 숫자(YYYYMMDD)만 추출
    yyyymmdd = raw.str.extract(r"(\d{8})$")[0]
    
    # 3. 날짜로 정확히 변환
    df["Date"] = pd.to_datetime(yyyymmdd, format="%Y%m%d", errors="coerce")
    
    # 4. 시간 제거 → 날짜만 유지
    df["Date"] = df["Date"].dt.date
    df["Date"] = pd.to_datetime(df["Date"])
    
    n_invalid = df["Date"].isna().sum()
    print("✅ Date 변환 완료")
    print(" - 전체 행:", len(df))
    print(" - 변환 실패(NaT) 행 수:", n_invalid)
    if n_invalid > 0:
        print("  ⚠ Date 형식이 이상한 행이 있습니다. (예: YYYYMMDD가 아닌 형식)")
    
    print(" - 날짜 범위:", df["Date"].min(), "~", df["Date"].max())
    print(" - 서로 다른 날짜 수:", df["Date"].nunique())
    print()
else:
    print("❌ Date 컬럼이 없음 - 이 파일은 시계열 분석에 바로 사용할 수 없습니다.")
    print()

# ==============================
# 5. 수치 컬럼 타입 & 기본 통계
# ==============================

for col in ["Quantity", "TotalCost", "EffectivePrice"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")
        print(f"✅ {col} 컬럼 숫자 변환 완료")
        print(f" - NaN 개수: {df[col].isna().sum()}")
        print(f" - 최소값: {df[col].min()}, 최대값: {df[col].max()}")
        if (df[col] < 0).sum() > 0:
            print(f"  ⚠ {col}에 음수 값이 있습니다. (개수: {(df[col] < 0).sum()})")
        print()
    else:
        print(f"⚠ {col} 컬럼이 없습니다.")
        print()

# ==============================
# 6. ChargeType / MaskedSub / MeterCategory 분포
# ==============================

if "ChargeType" in df.columns:
    print("✅ ChargeType 분포:")
    print(df["ChargeType"].value_counts())
    print()

if "MaskedSub" in df.columns:
    print("✅ MaskedSub(구독) 개수:", df["MaskedSub"].nunique())
    print(df["MaskedSub"].value_counts().head())
    print()

if "MeterCategory" in df.columns:
    print("✅ MeterCategory 상위 10개:")
    print(df["MeterCategory"].value_counts().head(10))
    print()

# ==============================
# 7. Usage만 필터링한 후 기본 체크
# ==============================

if "ChargeType" in df.columns:
    df_usage = df[df["ChargeType"] == "Usage"].copy()
    print("✅ Usage 데이터만 필터링")
    print(" - Usage 행 수:", len(df_usage))
    print(" - 전체 대비 비율: {:.1f}%".format(len(df_usage) / len(df) * 100))
    print()
else:
    df_usage = df.copy()
    print("⚠ ChargeType이 없어 전체 데이터를 Usage처럼 취급합니다.")
    print()

# ==============================
# 8. RI(Reserved Instance) 의심 구간 체크
#    Cost == 0, Qty > 0, UnitPrice > 0
# ==============================

if all(c in df_usage.columns for c in ["TotalCost", "Quantity", "EffectivePrice"]):
    ri_mask = (
        (df_usage["TotalCost"] == 0) &
        (df_usage["Quantity"] > 0) &
        (df_usage["EffectivePrice"] > 0)
    )
    ri_count = ri_mask.sum()
    print("✅ RI 의심 구간 수:", ri_count)
    if ri_count > 0:
        print(" - 예시 5행:")
        print(df_usage[ri_mask].head())
    print()
else:
    print("⚠ RI 판단에 필요한 컬럼(Quantity, TotalCost, EffectivePrice)이 부족합니다.")
    print()

# ==============================
# 9. 일별 집계 테스트 (이 고객 데이터가 LSTM 입력으로 쓸 수 있는지 확인)
# ==============================

if all(c in df_usage.columns for c in ["Date", "MeterCategory", "TotalCost"]):
    daily = (
        df_usage
        .groupby(["Date", "MeterCategory"])
        .agg({
            "TotalCost": "sum",
            "Quantity": "sum",
            "EffectivePrice": "mean"
        })
        .reset_index()
    )
    print("✅ 일자 × 카테고리 집계 완료")
    print(" - 집계 후 행 수:", len(daily))
    print(" - 서로 다른 날짜 수:", daily["Date"].nunique())
    print(" - 예시 5행:")
    print(daily.head())
    print()
    
    # Pivot까지 한 번 해보기 (LSTM용 다변량 시계열 구조)
    pivot_cost = daily.pivot(
        index="Date",
        columns="MeterCategory",
        values="TotalCost"
    ).fillna(0)
    
    print("✅ Pivot 변환 완료 (LSTM 입력 후보)")
    print(" - shape (날짜 수, 카테고리 수):", pivot_cost.shape)
    print(" - 상위 5행:")
    print(pivot_cost.head())
    print()
else:
    print("❌ Date / MeterCategory / TotalCost가 부족해서 일별 집계를 만들 수 없습니다.")
    print()

print("===== 검증 체크리스트 종료 =====")

===== 파일 로딩: 900.csv =====
행(row) 수: 216303
컬럼 목록: ['Date', 'MeterCategory', 'MeterSubCategory', 'MeterName', 'ChargeType', 'EffectivePrice', 'MaskedSub', 'Quantity', 'TotalCost', 'CustomerID', 'Date_raw']

✅ 필수 컬럼 모두 존재

✅ Date 변환 완료
 - 전체 행: 216303
 - 변환 실패(NaT) 행 수: 0
 - 날짜 범위: 2024-10-01 00:00:00 ~ 2025-03-31 00:00:00
 - 서로 다른 날짜 수: 182

✅ Quantity 컬럼 숫자 변환 완료
 - NaN 개수: 0
 - 최소값: 0.0, 최대값: 1848000.0

✅ TotalCost 컬럼 숫자 변환 완료
 - NaN 개수: 0
 - 최소값: -2385974.0, 최대값: 37102700.0
  ⚠ TotalCost에 음수 값이 있습니다. (개수: 17)

✅ EffectivePrice 컬럼 숫자 변환 완료
 - NaN 개수: 0
 - 최소값: -61689.0, 최대값: 1941042.0
  ⚠ EffectivePrice에 음수 값이 있습니다. (개수: 11)

✅ ChargeType 분포:
ChargeType
Usage                 215910
Purchase                 376
Refund                    11
RoundingAdjustment         6
Name: count, dtype: int64

✅ MaskedSub(구독) 개수: 46
MaskedSub
sub_ff07948020ba345f    16350
sub_b1d39d071184509f    14958
sub_1533539d89b8cbc2    14886
sub_b21326f469ef2b1     12781
sub_2d0e62d9592323f2    12012
Name: count, dtype: int64

✅ MeterCategory 상위 10개:
MeterCategory
Storage               87529
Virtual Network       20963
Virtual Machines      15734
Bandwidth             15519
Azure Monitor          6864
Azure DNS              5819
Cognitive Services     5750
Network Watcher        4651
Log Analytics          4442
Load Balancer          4281
Name: count, dtype: int64

✅ Usage 데이터만 필터링
 - Usage 행 수: 215910
 - 전체 대비 비율: 99.8%

✅ RI 의심 구간 수: 0

✅ 일자 × 카테고리 집계 완료
 - 집계 후 행 수: 7636
 - 서로 다른 날짜 수: 182
 - 예시 5행:
        Date           MeterCategory      TotalCost     Quantity  \
0 2024-10-01          API Management  138719.767698    78.482600
1 2024-10-01     Application Gateway  124284.533062  4071.677941
2 2024-10-01       Azure App Service    6451.200000    96.290304
3 2024-10-01           Azure Bastion   21691.200000    96.181798
4 2024-10-01  Azure Cognitive Search   38361.600000    96.000000

   EffectivePrice
0     1450.422500
1      173.859750
2       35.342857
3      112.975000
4      399.600000

✅ Pivot 변환 완료 (LSTM 입력 후보)
 - shape (날짜 수, 카테고리 수): (182, 47)
 - 상위 5행:
MeterCategory  API Management  Application Gateway  Azure App Service  \
Date
2024-10-01      138719.767698        124284.533062             6451.2
2024-10-02      138718.423902        124649.767464             6451.2
2024-10-03      138535.304940        124507.417274             6451.2
2024-10-04      138555.693774        124862.513248             6451.2
2024-10-05      138535.513050        124775.883857             6451.2

MeterCategory  Azure Applied AI Services  Azure Bastion  Azure Bot Service  \
Date
2024-10-01                           0.0   21691.200000                0.0
2024-10-02                           0.0   16961.250569                0.0
2024-10-03                           0.0   16268.400000                0.0
2024-10-04                           0.0   16268.400000                0.0
2024-10-05                           0.0   16268.400000                0.0

MeterCategory  Azure Cognitive Search  Azure Cosmos DB    Azure DNS  \
Date
2024-10-01                    38361.6      9302.735484  2099.958978
2024-10-02                    38361.6      9302.735484  1984.602198
2024-10-03                    38361.6      9302.735484  2008.690862
2024-10-04                    38361.6      9302.735484  2128.620036
2024-10-05                    38361.6      9302.735484  2001.445848

MeterCategory  Azure Database for MariaDB  ...  Redis Cache   SQL Database  \
Date                                       ...
2024-10-01                   16323.974136  ...      58905.6  512856.719613
2024-10-02                   16324.290509  ...      58905.6  512856.719613
2024-10-03                   16393.062639  ...      58905.6  512856.719613
2024-10-04                   16395.946740  ...      58905.6  512856.719613
2024-10-05                   16368.174269  ...      58905.6  512856.719613

MeterCategory  Service Bus        Storage  Unassigned    VPN Gateway  \
Date
2024-10-01             0.0  617847.337825         0.0  175723.656667
2024-10-02             0.0  630524.844844         0.0  182137.675917
2024-10-03             0.0  627158.629911         0.0  185598.845333
2024-10-04             0.0  651343.819541         0.0  185599.440000
2024-10-05             0.0  588959.606966         0.0  185598.845333

MeterCategory  Virtual Machines  Virtual Machines Licenses  Virtual Network  \
Date
2024-10-01         1.721984e+06              169822.423976    233145.701453
2024-10-02         1.821675e+06              169823.976675    240842.039241
2024-10-03         1.786866e+06              169843.728353    233146.305643
2024-10-04         2.080149e+06              169745.036665    265178.202774
2024-10-05         1.313857e+06              169823.303604    172451.707497

MeterCategory  Virtual WAN
Date
2024-10-01        43952.64
2024-10-02        43952.64
2024-10-03        43952.64
2024-10-04        43952.64
2024-10-05        43952.64

[5 rows x 47 columns]

===== 검증 체크리스트 종료 =====

In [49]:
if "dat" in df.columns:
    df.drop(columns=["original"], inplace=True)

In [50]:
print("✅ 전체 행 기준 완전 중복 검사")

dup_rows = df.duplicated()
dup_count = dup_rows.sum()

print(" - 완전 중복 행 수:", dup_count)

if dup_count > 0:
    print("⚠ 중복 행 예시 (상위 5개):")
    print(df[dup_rows].head())
else:
    print(" - 중복 행 없음")
print()

✅ 전체 행 기준 완전 중복 검사
 - 완전 중복 행 수: 0
 - 중복 행 없음

In [54]:
print("✅ 핵심 컬럼 기준 중복 검사 (논리적 중복)")

key_cols = ["Date", "MaskedSub", "MeterName", "TotalCost", "Quantity"]

if all(col in df.columns for col in key_cols):
    dup_logic = df.duplicated(subset=key_cols)
    dup_logic_count = dup_logic.sum()

    print(" - 논리적 중복 행 수:", dup_logic_count)

    if dup_logic_count > 0:
        print("⚠ 논리적 중복 예시 (상위 5개):")
        print(df[dup_logic].head())
else:
    print("⚠ 중복 검사용 핵심 컬럼이 일부 없습니다:", key_cols)

print()

✅ 핵심 컬럼 기준 중복 검사 (논리적 중복)
 - 논리적 중복 행 수: 183
⚠ 논리적 중복 예시 (상위 5개):
            Date      MeterCategory   MeterSubCategory MeterName ChargeType  \
29983 2025-01-25  Azure App Service  Free Plan - Linux    F1 App      Usage
29984 2025-01-23  Azure App Service  Free Plan - Linux    F1 App      Usage
29985 2025-01-17  Azure App Service  Free Plan - Linux    F1 App      Usage
29986 2025-01-15  Azure App Service  Free Plan - Linux    F1 App      Usage
29987 2025-01-13  Azure App Service  Free Plan - Linux    F1 App      Usage

       EffectivePrice             MaskedSub  Quantity  TotalCost  CustomerID  \
29983             0.0  sub_ff07948020ba345f  0.064512        0.0         900
29984             0.0  sub_ff07948020ba345f  0.064512        0.0         900
29985             0.0  sub_ff07948020ba345f  0.064512        0.0         900
29986             0.0  sub_ff07948020ba345f  0.064512        0.0         900
29987             0.0  sub_ff07948020ba345f  0.064512        0.0         900

                            Date_raw
29983  1970-01-01 00:00:00.020250125
29984  1970-01-01 00:00:00.020250123
29985  1970-01-01 00:00:00.020250117
29986  1970-01-01 00:00:00.020250115
29987  1970-01-01 00:00:00.020250113